<div class="container">
	<div class="marginTopMax"></div>
	<div class="col-md-12">
		<div id="flip_book">
		  <div class="hard"><%= image_tag(book_cover, class: "page") %></div> 
		  <div class="hard"></div>
		  <div><%= image_tag(page1, class: "page") %></div>
		  <div><%= image_tag(page2, class: "page") %></div>
		  <div><%= image_tag(page3, class: "page") %></div>
		  <div><%= image_tag(page4, class: "page") %></div>
		  <div><%= image_tag(page5, class: "page") %></div>
		  <div><%= image_tag(page6, class: "page") %></div>
		  <div><%= image_tag(page7, class: "page") %></div>
		  <div><%= image_tag(page8, class: "page") %></div>
		  <div><%= image_tag(page9, class: "page") %></div>
		  <div><%= image_tag(page10, class: "page") %></div>
		  <div><%= image_tag(page11, class: "page") %></div>
		  <div><%= image_tag(page12, class: "page") %></div>
		  <div class="hard"></div>
		  <div class="hard"></div>
		</div>
		<div class="marginTopMax"></div>
	</div>
</div>