<div class="container">
	<div class="marginTopMax"></div>
	<div class="col-md-12">
		<div id="flip_book">
		  <div class="hard"><%= image_tag("RobotBookCover.jpg", class: "page") %></div> 
		  <div class="hard"></div>
		  <div><%= image_tag("RobotPage1.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage2.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage3.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage4.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage5.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage6.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage7.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage8.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage9.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage10.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage11.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage12.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage13.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage14.jpg", class: "page") %></div>
		  <div><%= image_tag("RobotPage15.jpg", class: "page") %></div>
		  <div class="hard"></div>
		</div>
		<div class="marginTopMax"></div>
	</div>
</div>